
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>error</title>
</head>
<body>
    <div> 
        <h1 style="color:red ;"> we have an error in adding group </h1>
    </div>
</body>
</html>
